body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
  
.about-section {
    padding: 130px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}
  
  
.title {
    color: grey;
}
  
