{% extends "base.html" %}
 
{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
 
{% block section %}
<div class="container mt-5">
    <h1>Welcome to CHANEL!</h1>
    <div class="container">
        <p>Are you a person who cares about your style?
           Well, You have come to the right Place!!
           We have collaborated with thousands of brands.
        </p>
        <p>Find your style here. Explore our brand new collections that keeps coming every wednesday.</p>
    </div>
    <div>
        <form action="" class="">
            <div class="input-group mb-3 mt-5">
                <input type="text" class="form-control form-control-lg" placeholder="Search Here">
                <button type="submit" class="input-group-text btn-success"><i class="bi bi-search me-2"></i> Search</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
