{% extends "base.html" %}

{% block head %}
<title>About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block section %}
<div class="about-section">
    <h1>About Us</h1>
    <p>Chanel is a luxury fashion brand that was founded by Coco Chanel in 1910. The company was based in France, whereinafter 110 years, the board has decided to shift their global headquarters to London. Chanel deals with luxury clothes, jewelry, perfumes and other fashion goods. This luxury brand mostly focuses on women’s outfits and accessories.</p>
    <p>We highly value our customers.</p>
    <p>For queries : chanel@gmail.com</p>
</div>
{% endblock %}
